In [2]:
import pandas as pd
import numpy as np

In [3]:
datos = pd.read_csv("datos.csv", index_col=0)
datos.head()

,date,deltaDate,NO,NO2,NOX,SO2,TOUT,RH,SR
0,2020-01-01 00:00:00,0.0,4.3,6.375,10.625,0.850,12.2675,92.75,0.000
1,2020-01-01 01:00:00,1.0,2.0,5.200,7.200,1.775,11.6800,93.00,0.037
2,2020-01-01 02:00:00,2.0,2.6,5.000,7.600,0.750,11.6800,93.00,0.037
3,2020-01-01 03:00:00,3.0,3.1,5.900,8.900,0.725,11.7000,93.00,0.037
4,2020-01-01 04:00:00,4.0,2.0,4.500,6.500,0.775,11.8000,93.00,0.037

In [4]:
cols_ppm = ['NO','NO2','NOX','SO2']
for col in cols_ppm:
    datos[col+'PPM'] = datos[col]*0.001

In [5]:
datos

,date,deltaDate,NO,NO2,NOX,SO2,TOUT,RH,SR,NOPPM,NO2PPM,NOXPPM,SO2PPM
0,2020-01-01 00:00:00,0.0,4.3,6.375,10.625,0.850,12.2675,92.75,0.000,0.0043,0.006375,0.010625,0.000850
1,2020-01-01 01:00:00,1.0,2.0,5.200,7.200,1.775,11.6800,93.00,0.037,0.0020,0.005200,0.007200,0.001775
2,2020-01-01 02:00:00,2.0,2.6,5.000,7.600,0.750,11.6800,93.00,0.037,0.0026,0.005000,0.007600,0.000750
3,2020-01-01 03:00:00,3.0,3.1,5.900,8.900,0.725,11.7000,93.00,0.037,0.0031,0.005900,0.008900,0.000725
4,2020-01-01 04:00:00,4.0,2.0,4.500,6.500,0.775,11.8000,93.00,0.037,0.0020,0.004500,0.006500,0.000775
...,...,...,...,...,...,...,...,...,...,...,...,...,...
31785,2023-08-17 19:00:00,31795.0,3.2,6.900,9.900,3.600,38.1800,19.00,0.079,0.0032,0.006900,0.009900,0.003600
31786,2023-08-17 20:00:00,31796.0,2.6,11.300,13.700,3.600,36.3800,23.00,0.003,0.0026,0.011300,0.013700,0.003600
31787,2023-08-17 21:00:00,31797.0,2.9,10.800,13.500,3.700,35.1000,26.00,0.001,0.0029,0.010800,0.013500,0.003700
31788,2023-08-17 22:00:00,31798.0,3.0,10.100,12.800,15.300,33.6000,40.00,0.001,0.0030,0.010100,0.012800,0.015300
31789,2023-08-17 23:00:00,31799.0,2.8,6.100,8.700,24.500,32.4200,43.00,0.001,0.0028,0.006100,0.008700,0.024500

In [6]:
datos.describe()

,deltaDate,NO,NO2,NOX,SO2,TOUT,RH,SR,NOPPM,NO2PPM,NOXPPM,SO2PPM
count,31790.000000,31790.000000,31790.000000,31790.000000,31790.000000,31790.000000,31790.000000,31790.000000,31790.000000,31790.000000,31790.000000,31790.000000
mean,15902.396917,8.879065,10.517598,19.248640,6.813684,23.538552,59.181283,0.169776,0.008879,0.010518,0.019249,0.006814
std,9179.025888,17.016340,9.118501,23.536861,8.995037,7.334309,20.653357,0.224468,0.017016,0.009119,0.023537,0.008995
min,0.000000,0.500000,0.000000,0.900000,0.500000,-3.220000,1.000000,0.000000,0.000500,0.000000,0.000900,0.000500
25%,7954.250000,3.200000,4.500000,8.000000,3.100000,19.030000,43.000000,0.001000,0.003200,0.004500,0.008000,0.003100
50%,15903.500000,4.100000,7.300000,11.600000,4.275000,24.170000,61.000000,0.037000,0.004100,0.007300,0.011600,0.004275
75%,23850.750000,6.400000,13.300000,19.700000,7.500000,28.490000,77.000000,0.295000,0.006400,0.013300,0.019700,0.007500
max,31799.000000,370.800000,85.000000,378.000000,222.900000,42.930000,94.000000,0.889000,0.370800,0.085000,0.378000,0.222900

In [7]:
intervalos={
    "SO2":[0.008, 0.11, 0.165, 0.22],
    "NO2":[0.107, 0.210, 0.230, 0.250],
    "etiqueta": ["bueno", "aceptable", "mala", "muy mala"]
}
def change(val, col):
    if val< intervalos[col][0]:
        return "bueno"
    if val< intervalos[col][1]:
        return "aceptable"
    if val< intervalos[col][2]:
        return "mala"
    if val< intervalos[col][3]:
        return "muy mala"
    return "Extremadamente mala"

In [8]:
datos["SO2_discret"] = datos["SO2PPM"].apply(lambda x: change(x, "SO2"))

In [9]:
datos["SO2_discret"].value_counts()

SO2_discret
bueno                  25089
aceptable               6676
mala                      22
muy mala                   2
Extremadamente mala        1
Name: count, dtype: int64

In [10]:
datos
#"CO", "O3", "PM10", "PM2.5", "PRS", "RAINF", "WSR", "WDR"

,date,deltaDate,NO,NO2,NOX,SO2,TOUT,RH,SR,NOPPM,NO2PPM,NOXPPM,SO2PPM,SO2_discret
0,2020-01-01 00:00:00,0.0,4.3,6.375,10.625,0.850,12.2675,92.75,0.000,0.0043,0.006375,0.010625,0.000850,bueno
1,2020-01-01 01:00:00,1.0,2.0,5.200,7.200,1.775,11.6800,93.00,0.037,0.0020,0.005200,0.007200,0.001775,bueno
2,2020-01-01 02:00:00,2.0,2.6,5.000,7.600,0.750,11.6800,93.00,0.037,0.0026,0.005000,0.007600,0.000750,bueno
3,2020-01-01 03:00:00,3.0,3.1,5.900,8.900,0.725,11.7000,93.00,0.037,0.0031,0.005900,0.008900,0.000725,bueno
4,2020-01-01 04:00:00,4.0,2.0,4.500,6.500,0.775,11.8000,93.00,0.037,0.0020,0.004500,0.006500,0.000775,bueno
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31785,2023-08-17 19:00:00,31795.0,3.2,6.900,9.900,3.600,38.1800,19.00,0.079,0.0032,0.006900,0.009900,0.003600,bueno
31786,2023-08-17 20:00:00,31796.0,2.6,11.300,13.700,3.600,36.3800,23.00,0.003,0.0026,0.011300,0.013700,0.003600,bueno
31787,2023-08-17 21:00:00,31797.0,2.9,10.800,13.500,3.700,35.1000,26.00,0.001,0.0029,0.010800,0.013500,0.003700,bueno
31788,2023-08-17 22:00:00,31798.0,3.0,10.100,12.800,15.300,33.6000,40.00,0.001,0.0030,0.010100,0.012800,0.015300,aceptable
31789,2023-08-17 23:00:00,31799.0,2.8,6.100,8.700,24.500,32.4200,43.00,0.001,0.0028,0.006100,0.008700,0.024500,aceptable

In [11]:
otrosDatos = pd.read_csv("datosCompletos.csv", index_col=0)
otrosDatos.head()

,CO,NO,NO2,NOX,O3,PM10,PM2.5,PRS,RAINF,RH,SO2,SR,TOUT,WSR,WDR,deltaDate,date
0,1.8775,4.3,6.375,10.625,19.25,37.0,18.00,733.025,0.015,92.75,0.850,0.000,12.2675,1.325,207.25,0.0,2020-01-01 00:00:00
1,1.8800,2.0,5.200,7.200,25.00,37.0,28.00,734.200,0.010,93.00,1.775,0.037,11.6800,1.700,98.00,1.0,2020-01-01 01:00:00
2,1.8600,2.6,5.000,7.600,22.00,55.0,28.00,733.800,0.020,93.00,0.750,0.037,11.6800,1.600,133.00,2.0,2020-01-01 02:00:00
3,1.7800,3.1,5.900,8.900,21.00,35.0,11.00,733.000,0.000,93.00,0.725,0.037,11.7000,1.500,198.00,3.0,2020-01-01 03:00:00
4,1.7600,2.0,4.500,6.500,22.00,27.0,10.25,732.800,0.020,93.00,0.775,0.037,11.8000,0.700,240.00,4.0,2020-01-01 04:00:00

In [12]:
datosTotal = pd.concat([otrosDatos[["CO", "O3", "PM10", "PM2.5", "PRS", "RAINF", "WSR", "WDR"]], datos], axis=1)
datosTotal

,CO,O3,PM10,PM2.5,PRS,RAINF,WSR,WDR,date,deltaDate,...,NOX,SO2,TOUT,RH,SR,NOPPM,NO2PPM,NOXPPM,SO2PPM,SO2_discret
0,1.8775,19.25,37.0,18.00,733.025,0.015,1.325,207.25,2020-01-01 00:00:00,0.0,...,10.625,0.850,12.2675,92.75,0.000,0.0043,0.006375,0.010625,0.000850,bueno
1,1.8800,25.00,37.0,28.00,734.200,0.010,1.700,98.00,2020-01-01 01:00:00,1.0,...,7.200,1.775,11.6800,93.00,0.037,0.0020,0.005200,0.007200,0.001775,bueno
2,1.8600,22.00,55.0,28.00,733.800,0.020,1.600,133.00,2020-01-01 02:00:00,2.0,...,7.600,0.750,11.6800,93.00,0.037,0.0026,0.005000,0.007600,0.000750,bueno
3,1.7800,21.00,35.0,11.00,733.000,0.000,1.500,198.00,2020-01-01 03:00:00,3.0,...,8.900,0.725,11.7000,93.00,0.037,0.0031,0.005900,0.008900,0.000725,bueno
4,1.7600,22.00,27.0,10.25,732.800,0.020,0.700,240.00,2020-01-01 04:00:00,4.0,...,6.500,0.775,11.8000,93.00,0.037,0.0020,0.004500,0.006500,0.000775,bueno
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31785,0.7600,36.00,107.0,15.00,727.800,0.000,12.700,54.00,2023-08-17 19:00:00,31795.0,...,9.900,3.600,38.1800,19.00,0.079,0.0032,0.006900,0.009900,0.003600,bueno
31786,0.7100,29.00,60.0,9.00,728.300,0.000,8.900,50.00,2023-08-17 20:00:00,31796.0,...,13.700,3.600,36.3800,23.00,0.003,0.0026,0.011300,0.013700,0.003600,bueno
31787,0.7200,26.00,74.0,3.00,728.700,0.000,10.500,56.00,2023-08-17 21:00:00,31797.0,...,13.500,3.700,35.1000,26.00,0.001,0.0029,0.010800,0.013500,0.003700,bueno
31788,0.6800,25.00,112.0,2.00,729.400,0.000,16.900,86.00,2023-08-17 22:00:00,31798.0,...,12.800,15.300,33.6000,40.00,0.001,0.0030,0.010100,0.012800,0.015300,aceptable
31789,0.6900,28.00,115.0,9.00,730.100,0.000,14.500,94.00,2023-08-17 23:00:00,31799.0,...,8.700,24.500,32.4200,43.00,0.001,0.0028,0.006100,0.008700,0.024500,aceptable

In [13]:

numericos1 = ['NO', 'NO2', 'NOX', 'SO2', 'TOUT', 'RH']
numericos2 = ['SR','NOPPM', 'NO2PPM', 'NOXPPM', 'SO2PPM', 'deltaDate']
categoricas = ['date', 'SO2_discret']

In [ ]:
numTable1 = datos[numericos1].describe()
numTable1.loc["var"] = datos[numericos1].var()
numTable1.loc["moda"] = datos[numericos1].mode().loc[0]
numTable1

,NO,NO2,NOX,SO2,TOUT,RH
count,31790.000000,31790.000000,31790.000000,31790.000000,31790.000000,31790.000000
mean,8.879065,10.517598,19.248640,6.813684,23.538552,59.181283
std,17.016340,9.118501,23.536861,8.995037,7.334309,20.653357
min,0.500000,0.000000,0.900000,0.500000,-3.220000,1.000000
25%,3.200000,4.500000,8.000000,3.100000,19.030000,43.000000
50%,4.100000,7.300000,11.600000,4.275000,24.170000,61.000000
75%,6.400000,13.300000,19.700000,7.500000,28.490000,77.000000
max,370.800000,85.000000,378.000000,222.900000,42.930000,94.000000
var,289.555818,83.147062,553.983843,80.910683,53.792090,426.561158
moda,2.700000,4.600000,9.700000,3.100000,25.572500,77.000000

In [ ]:
numTable2 = datos[numericos2].describe()
numTable2.loc["var"] = datos[numericos2].var()
numTable2.loc["moda"] = datos[numericos2].mode().loc[0]
numTable2

,SR,NOPPM,NO2PPM,NOXPPM,SO2PPM,deltaDate
count,31790.000000,31790.000000,31790.000000,31790.000000,31790.000000,3.179000e+04
mean,0.169776,0.008879,0.010518,0.019249,0.006814,1.590240e+04
std,0.224468,0.017016,0.009119,0.023537,0.008995,9.179026e+03
min,0.000000,0.000500,0.000000,0.000900,0.000500,0.000000e+00
25%,0.001000,0.003200,0.004500,0.008000,0.003100,7.954250e+03
50%,0.037000,0.004100,0.007300,0.011600,0.004275,1.590350e+04
75%,0.295000,0.006400,0.013300,0.019700,0.007500,2.385075e+04
max,0.889000,0.370800,0.085000,0.378000,0.222900,3.179900e+04
var,0.050386,0.000290,0.000083,0.000554,0.000081,8.425452e+07
moda,0.001000,0.002700,0.004600,0.009700,0.003100,0.000000e+00

In [ ]:
catTable = datos[categoricas].describe()
catTable

                       date SO2_discret
count                 31790       31790
unique                31790           5
top     2020-01-01 00:00:00       bueno
freq                      1       25089

In [ ]:
datos[categoricas].mode().loc[0]

date           2020-01-01 00:00:00
SO2_discret                  bueno
Name: 0, dtype: object

In [ ]:
print(numTable2.reset_index().to_latex(index=False,
                  formatters={"name": str.upper},
                  float_format="{:.1f}".format)
)

\begin{tabular}{lrrrrrr}
\toprule
index & SR & NOPPM & NO2PPM & NOXPPM & SO2PPM & deltaDate \\
\midrule
count & 31790.0 & 31790.0 & 31790.0 & 31790.0 & 31790.0 & 31790.0 \\
mean & 0.2 & 0.0 & 0.0 & 0.0 & 0.0 & 15902.4 \\
std & 0.2 & 0.0 & 0.0 & 0.0 & 0.0 & 9179.0 \\
min & 0.0 & 0.0 & 0.0 & 0.0 & 0.0 & 0.0 \\
25% & 0.0 & 0.0 & 0.0 & 0.0 & 0.0 & 7954.2 \\
50% & 0.0 & 0.0 & 0.0 & 0.0 & 0.0 & 15903.5 \\
75% & 0.3 & 0.0 & 0.0 & 0.0 & 0.0 & 23850.8 \\
max & 0.9 & 0.4 & 0.1 & 0.4 & 0.2 & 31799.0 \\
var & 0.1 & 0.0 & 0.0 & 0.0 & 0.0 & 84254516.2 \\
moda & 0.0 & 0.0 & 0.0 & 0.0 & 0.0 & 0.0 \\
\bottomrule
\end{tabular}

In [ ]:
datosTotal[categoricas].describe()

                       date SO2_discret
count                 31790       31790
unique                31790           5
top     2020-01-01 00:00:00       bueno
freq                      1       25089